:root {
  --basic-text-color: #757575;
  --text-color: #212121;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
  --card-set-marg: 30px;
}

body {
  background-color: var(--basic-bg-color);
  color: var(--basic-text-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* знімаємо маржини з заголовків і абзаців */
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* обнуляція списку */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  marker: none;
}

/* ссилки */
.link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* заголовки*/

.section-title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* кнопки */
.button {
  display: flex;
  border-radius: 4px;
  margin-top: 0;
  justify-content: center;

  font-family: inherit;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  border: transparent;
}

/* хедер */
.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid#ececec;
}

/* логотип */
.logo {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-studio {
  color: #000000;
}
/* логотип футер */

.logo-white {
  color: var(--text-white-color);
}

.logo-bottom {
  margin-right: 0;
  margin-bottom: 20px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item {
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;
}

/* навигація */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  opacity: 0;

  transition-property: opasity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover::after {
  opacity: 1;
}

.site-nav .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  opacity: 1;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav .link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--basic-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link:hover .icon-envelop,
.auth-nav .link:focus .icon-envelop {
  fill: var(--accent-color);
}

.auth-nav .link:hover .icon-smart,
.auth-nav .link:focus .icon-smart {
  fill: var(--accent-color);
}

.icon-envelop {
  fill: var(--basic-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smart {
  fill: var(--basic-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color);
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
}

.primary {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 700;
  line-height: 1.87;

  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button .primary:hover,
.button .primary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

/* функції */

.feature-items {
  display: flex;
}

.feature-content:not(:last-child) {
  margin-right: var(--card-set-marg);
  max-width: 270px;
}

.icons-item {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 270px;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-icon:hover {
  fill: var(--accent-color);
}

.feature-items .title {
  color: var(--text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* чим ми займаємося */
.section-work {
  padding-top: 0;
}
.work {
  display: flex;
  margin-left: calc(-1 * var(--card-set-marg));
}
.work-items {
  position: relative;
  flex-basis: calc(100% / 3 - var(--card-set-marg));
  margin-left: var(--card-set-marg);
}

.label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--text-white-color);
  text-transform: uppercase;
}

/* команда */
.team {
  background-color: var(--secondary-bg-color);
}

.team-items {
  display: flex;
  margin-left: calc(-1 * var(--card-set-marg));
}

.items-card {
  flex-basis: calc(100% / 4 - var(--card-set-marg));
  margin-left: var(--card-set-marg);
  overflow: hidden;

  background-color: var(--basic-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-items .title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-items .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.card-bottom {
  padding-top: var(--card-set-marg);
  padding-bottom: var(--card-set-marg);
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--basic-bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--basic-bg-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

/* постійні клієнти */

.client-list {
  display: flex;
  justify-content: center;
}
.logo-item {
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.logo-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover .logo-icon,
.logo-link:focus .logo-icon {
  fill: var(--accent-color);
}

.logo-item:hover,
.logo-link:focus {
  border: 1px solid var(--accent-color);
}

.logo-item + .logo-item {
  margin-left: 30px;
}

/* футер */
.footer {
  background-color: var(--bg-color);
  line-height: 1.71;

  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-wrap {
  display: flex;
  align-items: baseline;
}

.contact-container {
  max-width: 231px;
  margin-right: 70px;
}
.soc-container {
  max-width: 206px;
  margin-right: 93px;
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  color: var(--text-white-color);
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-white-color);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-link {
  background: rgba(255, 255, 255, 0.1);
}

.backdrop {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(50px) rotate(90deg);
}

.modal {
  position: relative;

  top: 221px 536px;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--basic-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(50px) rotate(0deg);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: var(--basic-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
  margin-bottom: 12px;
}
.input-label {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--basic-text-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 15px;

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-form {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.checkbox-text {
  display: flex;

  line-height: 1.71;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-text span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  fill: var(--basic-bg-color);
}

.modal-checkbox:checked + .checkbox-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-link {
  color: var(--accent-color);
}
.button-modal {
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: #188ce8;
}

.container-footer {
  display: flex;
}

.form-set {
  display: flex;
  width: 570px;
}
.form-subscription {
  width: 358px;
  min-height: 50px;
  margin-right: 12px;
  background-color: var(--bg-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.button-form {
  width: 200px;
  min-height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: var(--basic-bg-color);
}

/* фільтер портфоліо */

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  margin-bottom: 56px;
}

.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.62;

  padding: 6px 22px;

  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button .secondary:hover,
.button .secondary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button .secondary.current {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  max-width: 73px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button .secondary .web {
  max-width: 128px;
}
.button .secondary .application {
  max-width: 145px;
}

.button .secondary .desing {
  max-width: 103px;
}
.button .secondary .marketing {
  max-width: 130px;
}

/* картинки портфоліо */

.images-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-marg));
  margin-top: calc(-1 * var(--card-set-marg));

  color: var(--basic-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.images-items-title {
  color: var(--text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-set {
  flex-basis: calc(100% / 3 - var(--card-set-marg));
  margin-left: var(--card-set-marg);
  margin-top: var(--card-set-marg);
}

.link-portfolio:hover .text-overlay,
.link-portfolio:focus .text-overlay {
  transform: translate(0);
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.link-portfolio {
  display: block;
  text-decoration: none;
  color: var(--basic-text-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-bottom {
  padding: 20px 25px 20px 25px;
  background: var(--basic-bg-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;

  font-size: 18px;
  line-height: 1.56;
  color: var(--text-white-color);
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
