.header-container__logo {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  @include font(700, 26px, 1.19);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-container__logo-studio {
  color: #000000;
}

.contact-container__logo_color_white {
  color: var(--text-white-color);
}

.contact-container__logo {
  margin-right: 0;
  margin-bottom: 20px;
}
